
<h1>Places</h1>
<p>

</p>

  <%= @toms%>











<form action="/tom" method="post">
  <label for="name">Tamagotchi Name</label>
  <input id="name" name="name" type="submit">
  <button type="submit">name</button>
  <input id="feed" name="feed" type="submit">
  <button type="submit">name</button>
</form>
